.token.attr-name{color:#c5a5c5;}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata{color:#999999;}
.token.property,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted{color:#5a9bcf;}.token.boolean{color:#ff8b50;}.token.tag{color:#fc929e;}.token.string{color:#8dc891;}.token.punctuation{color:#5FB3B3;}
.token.selector,
.token.char,
.token.builtin,
.token.inserted{color:#D8DEE9;}.token.function{color:#79b6f2;}
.token.operator,
.token.entity,
.token.url,
.token.variable{color:#d7deea;}.token.attr-value{color:#8dc891;}.token.keyword{color:#c5a5c5;}
.token.atrule,
.token.class-name{color:#FAC863;}.token.important{font-weight:400;}.token.bold{font-weight:700;}.token.italic{font-style:italic;}.token.entity{cursor:help;}.namespace{opacity:0.7;}html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}